src/main/resources/Z_EMPL_CREATE.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
<xsd:element name="Z_EMPL_CREATE">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="import" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="ABKRS_023" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ABKRS_030" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ANRDE_012" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ANSSA_035" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ANSSA_044" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ARBST_061" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEGDA_003" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEGDA_010" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEGDA_020" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEGDA_027" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEGDA_033" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEGDA_042" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEGDA_051" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEGDA_056" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BTRTL_022" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BTRTL_029" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CTU" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="EMPCT_055" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="EMPCT_060" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ENDDA_004" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ENDDA_011" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ENDDA_021" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ENDDA_028" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ENDDA_034" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ENDDA_043" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ENDDA_052" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ENDDA_057" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="GBDAT_016" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="GESC1_017" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="GESC3_018" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="GROUP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="HOLDDATE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KEEP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LAND1_041" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LAND1_050" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MASSN_005" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MODE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MSTBR_026" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NACHN_013" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NODATA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ORT01_037" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ORT01_046" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ORT02_038" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ORT02_047" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PERID_015" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PERNR_002" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PERSG_008" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PERSK_009" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PLANS_006" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PLANS_024" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PLANS_031" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSTLZ_040" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSTLZ_049" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SCHKZ_053" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SCHKZ_058" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SELEC_01_001" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SPRSL_019" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STATE_039" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STATE_048" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STRAS_036" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STRAS_045" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="UPDATE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="USER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VDSK1_025" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VDSK1_032" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VORNA_014" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="WERKS_007" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="WKWDY_062" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ZTERF_054" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ZTERF_059" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element>
<xsd:element name="export" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="SUBRC" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation/></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element>
<xsd:element name="tables" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="MESSTAB" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="row" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="TCODE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>BDC Transaction code</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DYNAME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Batch input module name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DYNUMB" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Batch input screen number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MSGTYP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Batch input message type</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MSGSPRA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Language ID of a message</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MSGID" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Batch input message ID</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MSGNR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Batch input message number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MSGV1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Variable part of a message</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MSGV2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Variable part of a message</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MSGV3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Variable part of a message</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MSGV4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Variable part of a message</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ENV" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Batch input monitoring activity</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FLDNAME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Field name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:sequence>
<xsd:attribute name="id" type="xsd:integer" use="required"/></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
</xsd:schema>